.contacts{

	height: 100%;
  display: flex;
  align-items: center;
	justify-content: space-around;
  &-item{
    font-weight: 600;
    font-size: 21px;
    margin: 0;
    @media(max-width: $mobile){
      margin-bottom: 5px;
      display: block;
    }

  }
	@media(max-width: $mobile){
		padding-top: 110px;
    display: block;
	}
}
a.contacts-item{
  &:hover{
    opacity: 1;
    color:#fff;
    text-decoration: underline;
  }
}
.contact-info{
	@media(max-width: $mobile){
		margin-bottom: 40px;
	}
	&__name{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	&__details{
		display: flex;
		&-key{
			padding-right: 40px;
		}
		&-item{
			font-weight: 300;
			font-size: 13px;
			letter-spacing: 1px;
			display: block;
			color: #000;
			margin-bottom: 10px;
			&__link{

			}
		}
	}
	&-image{
		img{
			max-width: 370px;
		}
	}
}
