footer{
	position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
	.footer-content{
		p{
			display: block;
			width: 100%;
			padding-right: 50px;
			font-weight: 300;
			font-size: 14px;
		}
    .nav{
      justify-content: space-between;
      padding: 0px 50px;
    }
	}
  @media(max-width: $mobile){
    display:none;
  }
}

.menu-item{
  a{
    color: #000;
    font-weight: 400;
  }
  &.current_page_item{
    border-bottom: 2px solid #000;
  }
}
