.main-logo{
  height: 50px;
}
.mobile-header{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: #c6bfac;
  z-index: 2001;
  &.wp-bar{
    margin-top: 42px;
  }
  .navbar-logo{
    img{
      height: 45px;
    }
  }
  @media(min-width: $mobile){
    display: none;
  }
  &__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .header__logo{
    height: 40px;
    svg{
      height: 40px;
    }
  }
  .hamburger{
    padding: 0;
  }
  .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    height: 40px;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    background-color: #000;
  }
}
.navbar-brand{
  display: none;
  @media(min-width: $mobile){
    display: block;
  }
}
header{
  height: 100%;
  padding: 25px 25px;
}
// @media(max-width: $mobile){
//   .header__logo-desktop{
//     display: none;
//   }
// }
.navigation{
  height: 100%;
  width: 200px;
  position: relative;
  .nav{
    display: block;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1.3px;
  }
  .menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-item{
    a{
      color: #000;
      font-weight: 400;
    }
    &.current_page_item{
      border-bottom: 2px solid #000;
    }
  }
}
.wp-bar{
  margin-top: 32px;
}
.top-header{
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  right: 0;
  text-align: right;
  padding: 0px 50px;
  .header-inner{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .text-logo{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
