.content-cashcarry{
	position: relative;
	.full-width-block{
		margin-top: 160px;
		position: relative;
		@media screen and (max-width: $mobile-breakpoint) {
			margin-top: 120px;
		}
	}
	&__map{
		height: 100%;
		&__wrap{
    		height: 100%;
		}
	}
	.cc-info{
		min-height: 380px;
	}
}

.full-width-block{
	&__left{
		position: absolute;
	    left: 0;
	    width: 50%;
	    height: 100%;
	    top:0;
	}
	&__right{
		position: absolute;
	    right: 0;
	    width: 50%;
	    height: 100%;
	    top: 0;
	}
	@media screen and (max-width: $mobile-breakpoint) {
		&__right{
			position: relative;
		    width: 100%;
		    height: 380px;
		    margin-top: 40px;
		}
		&__left{
			position: relative;
		    width: 100%;
		}
	}
}
.cc-text{
	padding-left: 20px;
}
.cc-info{
	&__contacts{
		&__title{
			font-weight: 600;
    		text-transform: uppercase;
    		font-size: 13px;
    		margin-bottom: 2px;
    		color: $white;
    		font-family: $main-font-bold;
		}
		&__info{
			font-size: 17px;
		    font-weight: 400;
		    margin-bottom: 15px;
		    display: block;
		    text-transform: uppercase;
		}
	}
	&__whour-title{
		font-weight: 600;
    	text-transform: uppercase;
    	font-size: 13px;
    	margin-bottom: 15px;
    	color: $white;
    	font-family: $main-font-bold;
	}
	.whour-content{
		padding-left: 20px;
	}
	&.inline{
		margin-top: 30px;
		.whour-content{
			padding-left: 0;
		}
		.cc-info__whour-info{
			display: inline-block;
			padding-right: 20px;
			&__title{	
				text-transform: none;
			}
		}
	}
	&__whour-info{
		&__info{
			font-size: 17px;
		    font-weight: 400;
		    margin-bottom: 8px;
		    display: block;
		    text-transform: uppercase;
		}
		&__title{
			font-weight: 600;
	    	text-transform: uppercase;
	    	font-size: 12px;
	    	margin-bottom: 2px;
	    	color: $white;
	    	font-family: $main-font-bold;
		}
	}
	@media screen and (max-width: $mobile-breakpoint) {
		.whour-content{
			padding-left: 0px;
			padding-top: 20px;
		}
	}
}
@media screen and (max-width: $mobile-breakpoint) {
	.cc-text{
		padding-left: 0px;
	}
}