.gallery{
	&__item{
		&__image{
			width: 100%;
			img{
				width: 100%;
				object-fit: cover;
			}
		}
	}
	@media screen and (max-width: $mobile-breakpoint) {
		&-block{
			margin-bottom: 40px;
		}
	}
}
.gallery-controls{
	margin-top: 10px;
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	&__paging{
		color: $main;
		font-weight: 600;
		font-size: 15px;
		display: inline-block;
    	padding-left: 10px;
	}
	&__open{
		color: $main !important;
		font-weight: 600;
		text-transform: uppercase;
    	font-size: 15px;
	}
	&__arrow-right, &__arrow-left{
		cursor: pointer;
		position: relative;
    	bottom: -2px;
		svg{
			height: 15px;
		}
	}
	&__arrow-left{
	}
	&__arrow-right{

	}
}

#lookbook-gallery{
    .pswp{
        &__bg{
            background: rgba(19, 19, 19, 0.9);
        }
        &__item {
            @media screen and ( min-width: 996px ) {
                left: 60px;
                right: 60px;
            }
        }
        &__top-bar{
            background:transparent;
        }
        &__button{
            outline:none;
            background: transparent;
            width:45px;
            height:45px;
            opacity:1;
            line-height:48px;
            text-align:center;
            transition: background 0.2s;
            &--arrow{
                &--left, &--right{
                    margin-top:-23px;
                    svg{
                        height:12px;
                    }
                }
            }
            &--close{
                top:10px;
                right:10px;
                width:46px;
                height:46px;
                line-height:51px;
                svg{
                    width:16px;
                    height:16px;
                }
            }
            &:before{
                display:none;
            }
            svg path{
                fill: $main;
                transition: fill 0.2s;
            }
            &:hover{
                
                svg path{
                    fill: $white;
                }
            }
        }
    }
    .gal-info{
        position:absolute;
        bottom:41px;
        left:0;
        right:0;
        text-align:center;
        height:0;
        color:$main;
        font-size:15px;
        font-weight:bold;
        letter-spacing:0.32px;
        .current{
            color:$main;
        }
    }
}