.post-content{
  padding: 20px 0;
  height: 100%;
}
.link-wrapper{
    display: inherit;
    flex: 0 0 auto;
}
.post-item{
  &.low{
    align-self: flex-end;
  }
  &.high{
    align-self: start;
  }
    @media(min-width: $mobile){
        margin-right: 70px;
        flex: 0 0 auto;
        padding-right: 70px;
    }
    @media(max-width: $mobile){
        max-width: 350px;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 0 !important;
    }
    &__image{
        margin-bottom: 10px;
        @media(max-width: $mobile){
            text-align: center;
            height: 320px;
        }
        img{
            @media(min-width: $mobile){
                max-width: 350px;
                max-height: 430px;
            }
            @media(max-width: $mobile){
              height: 100%;
            }
        }
    }
    &__description{
      opacity: 0;
      top: 10px;
      @media(min-width: $mobile){
      right: 0px;
      }
      @media(max-width: $mobile){
        left: 0;
      }
      background-color: #b57e3e;
      width: 100%;
      padding: 10px;
      font-size: 13px;
      z-index: 200;
      @media(max-width: $mobile){
        width: 100%;
      }
      transition: all 0.2s ease-in-out;
      &-item{
        line-height:15px;
        font-size: 14px;
        margin-bottom: 5px;
      }
      &.active{
        opacity: 1;
        display: block;
        z-index: 9999;
        @media(max-width: $mobile){
          z-index: 9999;
          left: 0px;
        }
      }
    }
    &__gallery{
      max-width: 650px;
      z-index: 300;
      overflow: hidden;
      &-container{
        position: relative;
      }
      .slick-slide{
        img{
          // max-height: 400px;
        }
      }
      .slick-dots{
        text-align:left;
        li.slick-active button{
          background-color: #000;
        }
        li button{
          background-color: transparent;
          border: solid 1px #000;
        }
      }
    }
    &__content-interior{
      position: relative;
      margin-top: 30px;
      &-nav{
        display: flex;
        align-content: center;
        justify-content: space-between;
      }
        &__title{
            font-size: 14px;
        }
        .info-button{
          font-size: 16px;
        }
    }
    &__content{
      margin-top: 30px;
      @media(max-width: $mobile){
        margin-top:10px;
      }
        &__title{
            font-size: 14px;
            &.nature-title{
                text-transform: initial;
                font-weight: 200;
            }
        }
        &__subtitle{
            font-weight: 200;
            font-size: 14px;
            margin-top: 5px;
        }
        &-stories{
            max-width: 290px;
            margin-top: 60px;
            @media(max-width: $mobile){
              margin-top:30px;
            }
            h2{
              font-weight: 600;
            }
            &-read{
              font-weight: 600;
              border: 1px solid #000;
              border-radius: 20px;
              font-size: 12px;
              padding: 4px 17px;
              text-transform: uppercase;
            }
        }
    }

    &-stories{
    }
}
.post-item__colors{
    display: flex;
    margin-top: 30px;
    &__item{
        width: 23px;
        height: 23px;
        margin-right: 10px;

    }
}
.info-list{
    &__item{
        margin-bottom: 5px;
        font-weight: 200;
    }
}

.single-post-item{
  @media(min-width: $mobile){
    display: flex;
  }
    &__intro{
        margin-right: 30px;
    }
    &__info{
        margin-top: 20px;
    }
    &__image{
        img{
            min-height: 350px;
            max-width: 360px;
            margin-left: 20px;
        }
    }

}

.single-post-item__content{
    @media(min-width: $mobile){
      height: calc(100vh - 380px);
      width: 100%;
      display: flex;
    }
    h2{
      margin-top:15px;
    }
    p{
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        padding: 0px 15px;
        font-family: $main-font;
        @media(min-width: $mobile){
          padding: 0;
          width: 400px;
          margin-bottom: 10px;
          column-width: 210px;
          column-count: auto;
        }
    }
    .wp-block-image{
        margin-right: 30px;
        margin-left: 30px;
    }
    &-stories{
        p{
            margin: 0 0px;
            padding-right: 30px;
            column-width: 210px;
            column-count: auto;
        }
    }
}

.stories-page-intro{
  position:relative;
  @media(max-width: $mobile){
    padding: 0px 15px;
  }
  @media(min-width: $mobile){
    margin-right: 100px;
    width: 300px;
  }
  &-title{
    font-size: 35px;
    @media(max-width: $mobile){
      font-size: 29px;
      margin-bottom: 20px;
    }
    @media(min-width: $mobile){
      width: 600px;
      position: absolute;
      top: 50px;
      letter-spacing: 2px;
    }
  }
  &-text{
    font-weight: 500;
    font-size: 14px;
    @media(max-width: $mobile){
      margin-bottom: 50px;
      font-weight:300;
    }
    @media(min-width: $mobile){
      position: absolute;
      bottom: 170px;
      width: 320px;
    }

  }
}
.post-type-archive-stasti{
  .post-content{
    padding: 20px 0;
    height: 100%;
  }
}
@media(min-width: $mobile){
  .post-type-archive-stasti{
    .post-content{
      position: relative;
      padding-left: 540px;
    }
    .stories-page-intro{
      position: absolute;
      left: 0;
      height: 100%;
      margin-left: 60px;
    }
  }
}
.single-post-gallery{
  @media(min-width: $mobile){
    display: flex;
  }
  &-item{
    margin-right: 30px;
    img{
      height: 100%;
      height : 240px;
    }
  }
  &-title{

  }
}
.single-post-sidebar{
  position: relative;
  width: 290px;
  @media(max-width: $mobile){
    width: 100%;
  }
  @media(min-width: $mobile){
    border-right: 1px solid;
  }
  padding: 35px;
  .stasti-title{
    padding-right: 100px;
    line-height: 25px;
    font-size: 20px;
  }
  .stasti-footer{
    position: absolute;
    bottom: 35px;
    font-weight: 500;
    font-size: 14px;
    display: none;
    @media(min-width: $mobile){
     display: block;
    }
  }
}
.stasti-template-default{
  .top-header{
    display: none;
  }
  footer{
    display: none;
  }
  .mobile-header{
    display: none;
  }
  .main{
    margin: 0px 0 0px 0px;
    height: 100%;
    @media(max-width: $mobile){
      padding-top: 20px;
    }
  }
  .single-post-item{
    height: 100%;
  }
  .single-post-content{
    padding: 40px;
    @media(max-width: $mobile){
      padding: 20px;
    }
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
