.product-container{
	margin-top: 50px;
	a{
		&:hover{
			text-decoration: none;
		}
	}
}
.products{
	margin-top: 70px;
}

.product-item{
	padding: 30px 30px;
	transition: all 0.1s ease-in-out;
	position: relative;
	&__title{
		z-index: 2;
		position: absolute;
		bottom: 0;
		text-transform: uppercase;
		color: $white;
		font-family: $heading-font;
	}
	&:hover{
		box-shadow: 0px 0px 8px 1px #82828245;
		.button-overlay{
			opacity: 1;
		}
	}

	&--large{
		height: 100%;
		background-size: cover;
		background-position: center;
		&__title{
			font-size: 20px;
		}
	}
	&--small{
		height:250px;
		background-size: cover;
		background-position: center;
		&__title{
			font-size: 20px;
		}
	}
	&--medium{
		height: 320px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 25px;
	}
}
.second-row-products .col-sm-6:nth-child(1), .second-row-products .col-sm-6:nth-child(2){
	padding-bottom: 15px;
}


.related-products{
	padding-top: 40px;
	a{
		text-decoration: none;
	}
}
