@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

/*COLORS*/
$black: #000000;
$white: #F4F4F4;
$main: #F7DE7C;
$secondary: #B27F2B;
$gray: #1F1F1F;
$textDark: #B1B1B1;
$lighterText: #7D7D7D;
$border_color: #E9E9E9;
$text: #717171;
$headingSmall: #D6D0C2;
$link: #1892BF;

$heading: 'Work Sans', sans-serif;
$heading-large : $heading;
$heading-font: $heading;
$heading-font-light: $heading;
$main-font: 'Work Sans', sans-serif;
$main-font-bold: 'Work Sans', sans-serif;

$main-color: $black;

.page-template-template-interior{
  background-color: #C6BFAC;
}
.page-template-template-stasti{
  background-color: #fff;
}
.page-template-template-philosophy{
  background-color: #B57E3E;
  h1{
    color: #fff;
    margin-bottom:50px;
    @media(min-width: $mobile){
      margin-bottom: 100px;
    }
  }
  .single-post-item__content{
    position: absolute;
    border: 0;
    align-items: flex-end;
    height: 50%;
  }
}
.page-template-template-contacts{
  background-color: #B57E3E;
}
@media(min-width: $mobile){
	.offset-t-1{
		margin-top: 2.5em;
	}
	.offset-t-2{
		margin-top: 5em;
	}
	.offset-t-3{
		margin-top: 7em;
	}
	.offset-t-4{
		margin-top: 8.5em;
	}
	.offset-t-5{
		margin-top: 10em;
	}
}

.wrapper{
    margin: 0 auto;
}
.sidebar{
	height: 100%;
	width: 200px;
	position: fixed;
	left: -200px;
	transition: all 0.1s ease-in-out;
	background-color: #fff;
	z-index: 2000;
  background-color: #c6bfac;
	&.active-menu{
		left: 0px;
	}
}
.main{
	width: 100%;
  @media(max-width: $mobile){
    padding-top: 100px;
  }
}
@media(min-width: $mobile){
	.wrapper{
		margin: 0 auto;
		overflow: hidden;
		height: 100vh;
		display: flex;
	}
	.sidebar{
		height: 100%;
		width: 200px;
		position: relative;
		left: 0;
    display:none;
	}
	.main{
		height: calc(100vh - 200px);
		width: 100%;
		overflow-y: hidden;
		margin: 100px 0px 100px 50px;
		overflow-x: hidden;
	}
}

.no-scroll{
	height: 100vh;
	overflow: hidden;
}
/* Typography */
p{
	font-family: $main-font;
	color: $main-color;
	font-size: 16px;
}

a{
	color: $black;
	font-family: $main-font;
	cursor: pointer;
	&:hover{
		color: #fff;
		text-decoration: none;
		opacity: 0.7;
	}
	&:active{
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
}
h2{
	font-family: $heading-font;
	font-size: 18px;
    font-weight: 500;
    color: $black;
    padding-bottom: 5px;
}
h3{
	font-family: $heading-font;
	color: $white;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 28px;
	font-size: 22px;
}
h4{
	font-size: 18px;
    line-height: 27px;
    font-family: $heading-font;
    color: $white;
}
.text{
	font-size:13px;
	color: $text;
}
.link{
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	&--grey{
		color: #242626;
		&:hover{
			color: $secondary;
		}
	}
}
.hidden{
	display: none;
}
.n-visiable{
	opacity: 0 !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lead-text{
	font-size: 16px;
    line-height: 30px;
}
.overlay{
	transition: all 0.2s linear;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(13,13,13,0.8) 0%, rgba(13,13,13,0.30) 40%);
    z-index: 1;
    &--solid{
    	 background: rgba(13,13,13,0.85);
    }
}
.section{
	margin-top: 100px;
}
.entry-content{
	max-width: 750px;
	p{
		color: $white;
	    font-size: 16px;
	    font-weight: 400;
	}
	&__featured-image{
	    height: 350px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 40px;
	    margin-top: 50px;
	}
	ul {
		font-size: 14px;
		line-height: 1.5em;
		margin: 5px 0 15px;
		padding: 0;
		li {
			list-style: none;
			position: relative;
			padding: 0 0 10px 20px;
			line-height: 20px;
			color: $white;
			font-family: $main-font;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 8px;
	      		display: block;
				border-top: 2px solid $main;
			}
		}
	}
	ol{
		margin-left: 0px;
		color: $white;
		font-family: $main-font;
		li{
			margin-bottom: 10px;
    		line-height: 25px;
		}
	}
	table{
		margin: 40px 0px;
		td{
			padding: 15px;
			p{
				margin-bottom: 0px;
			}
		}
	}
	table, th, td{
		border: 1px solid $gray;
	}
	ol {
	  list-style-type: none;
	  counter-reset: item;
	  margin: 0;
	  padding: 0;
	}

	ol > li {
	  display: table;
	  counter-increment: item;
	  margin-bottom: 0.6em;
	}

	ol > li:before {
	  content: counters(item, ".") ". ";
	  display: table-cell;
	  padding-right: 0.6em;
	}


	li ol > li:before {
	  content: counters(item, ".") " ";
	}
}
.entry-wrapper{
	.entry-content{
		max-width: 650px;
		margin: auto;
	}
}
.notfound-page{
    padding-top: 180px;
    text-align: center;
    h1{
    	font-size: 110px;
    	color: $main;
    }
    h3{
    	margin-bottom: 30px;
    	color: $secondary;
    }
}
.agecheck{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	.overlay{
		backdrop-filter: blur(6px);
    	background: rgba(0, 0, 0, 0.64);
	}
	&__content{
		padding: 70px 70px;
	    max-width: 490px;
	    text-align: center;
		background-color: $black;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid $main;
		z-index: 100;
		h2{
			font-family: $heading-font;
			color: $main;
			&:after{
				display: none;
			}
		}
		p{
			margin-bottom: 40px;
		}

	}
	&__button{
		display: inline-block;
	    width: 50%;
	    float: left;
	    padding: 10px;
	}
	@media only screen and (max-width: $mobile-breakpoint){
		#agecheck-true{
			margin-bottom: 10px;
		}
		&__button{
	    	width: 100%;
		}
	}
}
.archive-desc{
	max-width: 560px;
	p{
		font-size: 16px;
	}
}
@media (min-width: 992px){
	.container{
		max-width: 1100px;
	}
}
.mob-only{
	display: none
}
.desktop-only{
	display: block;
}
.tablet-only{
	display: none !important;
}
@media only screen and (max-width: $tablet-breakpoint){
	.desktop-only{
		display: none !important;
	}
	.tablet-only{
		display: block !important;
	}
}
@media only screen and (max-width: $mobile-breakpoint){
	.mob-hidden{
		display: none !important;
	}
	.mob-only{
		display: block
	}

}

.page-template-template-philosophy{
  .page-title{
    margin-bottom: 140px;
  }
  .single-post-item__content p{
    font-weight: 500;
    height: 290px;
    width: 400px;
  }
}
